parameters:
  - name: dependsOn
    type: object
  - name: serviceConnection
    type: string
  - name: tenant
    type: string
  - name: region
    type: string
  - name: environmentCode
    type: string

jobs:
  - deployment: PromoteArtifacts
    displayName: 'Promote OCI Artifacts to ${{ upper(parameters.environmentCode)}}'
    condition: succeeded()
    dependsOn: ${{ parameters.dependsOn }}
    pool:
      name: '${{ upper(parameters.tenant) }} ${{ upper(parameters.environmentCode) }} Release Agents'
    environment: 'AKS-${{ upper(parameters.tenant) }}-${{ upper(parameters.environmentCode) }}'
    strategy:
      runOnce:
        deploy:
          steps:
          - checkout: AksPlatform
            clean: true
          - download: current
            artifact: 'push-and-sign-results-${{ parameters.region }}'
          - template: "../steps/install-oras-cosign.yml"
            parameters:
              orasVersion: '1.3.0'
              cosignVersion: '2.6.1'
          - task: AzureCLI@2
            displayName: 'Promote OCI Artifacts'
            inputs:
              azureSubscription: '${{ parameters.serviceConnection }}'
              scriptType: 'pscore'
              scriptLocation: 'scriptPath'
              scriptPath: '$(System.DefaultWorkingDirectory)/.azuredevops/scripts/gitops/promote-oci-artifacts.ps1'
              arguments: >
                -ResultSummaryFilePath "$(Pipeline.Workspace)/push-and-sign-results-${{ parameters.region }}/results.json"
                -RegistryName $(pfmAcrName)
                -Environment ${{ parameters.environmentCode }}
