name: Push OCI Artifacts

on:
  workflow_call:

permissions:
  id-token: write
  contents: read

jobs:
  push-and-sign-artifacts:
    runs-on: ubuntu-latest
    environment: prd
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Download OCI Artifacts
        uses: actions/download-artifact@v4
        with:
          name: oci-artifacts
          path: ${{ runner.temp }}/oci-artifacts
      - name: Install tools
        uses: ./.github/actions/templates/install-push-tools
        with: 
          orasVersion: '1.3.0'
          cosignVersion: '2.6.1'
      - name: Azure Login
        uses: Azure/login@v1
        with:
          client-id: ${{ secrets.CLIENT_ID }}
          tenant-id: ${{ secrets.TENANT_ID }}
          subscription-id: ${{ secrets.SUBSCRIPTION_ID }}
          enable-AzPSSession: true
      - name: Generate Signing Key (if not exists)
        uses: azure/powershell@v2
        with:
          inlineScript: ./scripts/generate-signing-key.ps1 -keyName $(signingKeyName) -keyVaultName ${{ env.keyVaultName }}
          azPSVersion: "latest"
        
        


#      - task: AzureCLI@2
#        displayName: 'Push and Sign OCI Artifacts'
#        name: PushAndSignArtifacts
#        inputs:
#          azureSubscription: ${{ parameters.serviceConnection }}
#          scriptType: 'pscore'
#          scriptLocation: 'scriptPath'
#          scriptPath: '$(System.DefaultWorkingDirectory)/.azuredevops/scripts/gitops/push-and-sign-oci-artifact.ps1'
#          arguments: '-SigningKeyName $(signingKeyName) -sharedConfig ''$(sharedConfig)'' -Region ${{ parameters.region }} -ArtifactFolder "$(Pipeline.Workspace)/oci-artifacts" -RepositoryFolder "manifests" -AcrName $(pfmAcrName) -BuildNumber $(Build.BuildId)'
#      - task: PowerShell@2
#        displayName: 'Prepare Push and Sign Results for Publishing'
#        env:
#          signingResults: $(PushAndSignArtifacts.ProcessedArtifacts)
#        inputs:
#          targetType: 'inline'
#          script: |
#            $destDir = "$(Build.ArtifactStagingDirectory)/push-and-sign-results"
#            if (-Not (Test-Path -Path $destDir)) {
#                New-Item -ItemType Directory -Path $destDir | Out-Null
#            }
#
#            # Retrieve the JSON output from the previous step
#            $summaryJson = "$env:signingResults"
#
#            Write-Host "Retrieved JSON from pipeline variable:"
#
#            $summary = $summaryJson | ConvertFrom-Json
#            $summary | ConvertTo-Json -Depth 5 | Out-File -FilePath (Join-Path $destDir 'results.json') -Encoding UTF8
#            Write-Host "Successfully created summary file with $($summary.Count) items"
#      - task: PublishPipelineArtifact@1
#        displayName: 'Publish Push and Sign Results'
#        inputs:
#          targetPath: '$(Build.ArtifactStagingDirectory)/push-and-sign-results'
#          artifact: 'push-and-sign-results-${{ parameters.region }}'
