name: Push OCI Artifacts

on:
  workflow_call:
    inputs:
      keyVaultName:
        required: true
        type: string
      signingKeyName:
        required: true
        type: string
      acrName:
        required: true
        type: string

jobs:
  push-and-sign-artifacts:
    runs-on: ubuntu-latest
    environment: prd
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Download OCI Artifacts
        uses: actions/download-artifact@v4
        with:
          name: oci-artifacts
          path: ${{ runner.temp }}/oci-artifacts
      - name: Install tools
        uses: ./.github/actions/templates/install-push-tools
        with: 
          orasVersion: '1.3.0'
          cosignVersion: '2.6.1'
      - name: Azure Login
        uses: Azure/login@v1
        with:
          client-id: ${{ secrets.CLIENT_ID }}
          tenant-id: ${{ secrets.TENANT_ID }}
          subscription-id: ${{ secrets.SUBSCRIPTION_ID }}
          enable-AzPSSession: true
      - name: Generate Signing Key (if not exists)
        uses: azure/powershell@v2
        with:
          inlineScript: ./scripts/generate-signing-key.ps1 -keyName ${{ inputs.signingKeyName }} -keyVaultName ${{ inputs.keyVaultName }}
          azPSVersion: "latest"
      - name: Push and Sign OCI Artifacts
        uses: azure/powershell@v2
        with:
          inlineScript: ./scripts/push-sign-oci-artifacts.ps1 -signingKeyName ${{ inputs.signingKeyName }} -keyVaultName ${{ inputs.keyVaultName }} -artifactFolder "${{ runner.temp }}/oci-artifacts" -repositoryFolder "manifests" -acrName ${{ inputs.acrName }} -buildNumber ${{ github.run_number }}
          azPSVersion: "latest"