name: Build OCI Artifacts

on:
  workflow_call:
    #inputs:
    #  githubAppID:
    #    required: true
    #    type: string
    #outputs:
    #  modules:
    #    description: "The directory of the added or updated modules. Empty if no module was changed."
    #    value: ${{ jobs.main.outputs.modules }}

jobs:
  main:
    runs-on: ubuntu-latest
    #outputs:
    #  modules: ${{ steps.get-changed-modules.outputs.modules }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Build OCI Artifacts
        id: build-oci-artifacts
        shell: pwsh
        run: |
          ./scripts/build-oci-artifacts.ps1 -RegistryName "${{ vars.REGISTRY_NAME }}" -ImageTag "${{ github.sha }}" -Environment "production"











#############################
#parameters:  
#  - name: tenant
#    type: string
#  - name: stageName
#    type: string
#  - name: stageDisplayName
#    type: string
#    default: ''
#  - name: foldersToSync
#    type: string
#
#stages:
#  - stage: ${{ parameters.stageName }}
#    ${{ if ne(parameters.stageDisplayName, '') }}:
#      displayName: '${{ upper(parameters.tenant) }} - ${{ parameters.stageDisplayName }}'
#    jobs:
#      - job: BuildArtifacts
#        displayName: 'Build OCI Artifacts'
#        pool:
#          name: '${{ upper(parameters.tenant) }} Linux Build Agents'
#        steps:
#          - checkout: AksPlatform
#            clean: true
#          - task: PowerShell@2
#            name: 'createOCIArtifacts'
#            inputs:
#              targetType: 'filePath'
#              filePath: '$(System.DefaultWorkingDirectory)/.azuredevops/scripts/gitops/create-oci-artifacts.ps1'
#              pwsh: true
#              #workingDirectory: '$(System.DefaultWorkingDirectory)'
#              arguments: >
#                -foldersToSync "${{ parameters.foldersToSync }}"
#                -destinationFolder "$(Build.ArtifactStagingDirectory)/oci-artifacts"
#          - publish: '$(Build.ArtifactStagingDirectory)/oci-artifacts'
#            artifact: 'oci-artifacts'
#