name: Push OCI Artifacts

on:
  workflow_call:
    inputs:
      keyVaultName:
        required: true
        type: string
      signingKeyName:
        required: true
        type: string
      acrName:
        required: true
        type: string

jobs:
  push-and-sign-artifacts:
    runs-on: ubuntu-latest
    environment: prd
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Download OCI Artifacts
        uses: actions/download-artifact@v4
        with:
          name: oci-artifacts
          path: ${{ runner.temp }}/oci-artifacts
      - name: Install tools
        uses: ./.github/actions/templates/install-signin-tools
        with: 
          orasVersion: '1.3.0'
          cosignVersion: '2.6.1'
      - name: Azure Login
        uses: Azure/login@v1
        with:
          client-id: ${{ secrets.CLIENT_ID }}
          tenant-id: ${{ secrets.TENANT_ID }}
          subscription-id: ${{ secrets.SUBSCRIPTION_ID }}
          enable-AzPSSession: true
      - name: Generate Signing Key (if not exists)
        uses: azure/powershell@v2
        with:
          inlineScript: ./scripts/generate-signing-key.ps1 -keyName ${{ inputs.signingKeyName }} -keyVaultName ${{ inputs.keyVaultName }}
          azPSVersion: "latest"
      - name: Push and Sign OCI Artifacts
        id: push-sign
        uses: azure/powershell@v2
        with:
          inlineScript: ./scripts/push-sign-oci-artifacts.ps1 -signingKeyName ${{ inputs.signingKeyName }} -keyVaultName ${{ inputs.keyVaultName }} -artifactFolder "${{ runner.temp }}/oci-artifacts" -repositoryFolder "manifests" -acrName ${{ inputs.acrName }} -buildNumber ${{ github.run_number }}
          azPSVersion: "latest"
      - name: Prepare results for publishing
        shell: pwsh
        env:
          signingResults: ${{ steps.push-sign.outputs.ProcessedArtifacts }}
        run: |
          $destDir = "${{ runner.temp }}/push-and-sign-results"
          if (-Not (Test-Path -Path $destDir)) {
              New-Item -ItemType Directory -Path $destDir | Out-Null
          }

          # Retrieve the JSON output from the previous step
          $summaryJson = "$env:signingResults"

          Write-Host "Retrieved JSON from pipeline variable:"
          Write-Host $summaryJson

          $summary = $summaryJson | ConvertFrom-Json
          $summary | ConvertTo-Json -Depth 5 | Out-File -FilePath (Join-Path $destDir 'results.json') -Encoding UTF8
          Write-Host "Successfully created summary file"
      - name: Upload results
        uses: actions/upload-artifact@v4
        with:
          name: push-and-sign-results
          path: ${{ runner.temp }}/push-and-sign-results