name: AKS OCI Artifacts Pipeline

on:
  push:
  pull_request:

permissions:
  id-token: write
  contents: read

jobs:
  build-oci-artifacts:
    uses: ./.github/workflows/templates/aks-oci-build.yaml

  push-sign-oci-artifacts:
    needs: build-oci-artifacts
    uses: ./.github/workflows/templates/aks-oci-push.yaml
    with:
      keyVaultName: "ashwin-aks-kv"
      signingKeyName: oci-artifact-signing-key
      acrName: ashwinaks
    secrets: inherit

  promote-dev:
    needs: push-sign-oci-artifacts
    uses: ./.github/workflows/templates/aks-oci-promote.yaml
    with:
      environment: dev
      acrName: ashwinaks
    secrets: inherit

